# Practice


** Problem 1**

Explore the Wine data set, which contains 13 attributes (features) and three classes (types of wine). Use the _iris_ _flower_ example presented in the class to:

1) Create a dataframe from the raw data. Understand dimensions, types of variables, feature names.

2) Learn how to get a single column from the dataframe, computes mean and std along each columns.

3) Plot the distributions of features (histograms), understand which features have more variability (potentially might be good discriminative features)

4) Create 'X' and 'y' dataframes, which correspond to features and class labels respectively.

5) Split the entire data set into _training_ and _test_ sets

6) Learn a classifier on the training set and check its performance in the test set

7) Plot the confusion matrix and compute the accuracy score: a single number which summarises the performance of the classifier

(continue with the code presented below)

In [27]:
# datafrane object
import pandas as pd

# general library for numerical tensors
import numpy as np

# data visualisation
import seaborn as  sns
import matplotlib.pyplot as plt

# import 'datasets' library from sci0kit learn ML package
from sklearn import datasets

# import a simple linear classification algorithm: logistic regression
from sklearn import linear_model

# import a metric for the assessment of accuracy of classification
from sklearn import metrics

# obtain the wine data set
wine_data = datasets.load_wine()

**Problem 2**

Explore the Titanic data set (included in the folder 'data'). Repeat the exploration steps mentioned in *Practice 1*.

The outcome / class you will be predicting is the survival probability (rounded to binary values 1/0) and labeled by **'survived'** column. 

1) Understand how the data were loaded into pandas dataframe and split into features and outcomes (see below).

2) Train a classifier using all features and also a random subset ().

3) Explore various feature subset which produce higher classification accuracy. For example, features ['class', 'age', 'sex']

** amazing tutorial using this data set:** https://www.kaggle.com/startupsci/titanic-data-science-solutions

In [28]:
df_titanic_data = pd.read_excel('data/titanic.xls')

In [29]:
print df_titanic_data.head()

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [30]:
# I split the entire data set into 'features' and the 'outcomes'
# X - features (13 attributes) and y - outcome binary variable: survived 1, did not survive = 0
X, y = df_titanic_data.loc[:,df_titanic_data.columns !='survived'], df_titanic_data.survived